name: echoDeploy
on: workflow_dispatch
env:
  secret: ${{ secrets.echoTokken }}
jobs:
  deploy:
    runs-on: ubuntu-latest
    env: 
      echo: HiHiHiHiHiHiHiHi
    steps:
      - name: install notejs
        uses: actions/setup-node@v3.8.0
        with:
          note-version: 14.x
      - name: print context
        run: echo ${{ toJSON(github) }}
      - name: print some
        run: |
          echo ${{ env.echo }}
          echo texttexttexttexttexttexttext
          echo texttexttexttexttexttexttext
          echo ${{ env.echo }}
          echo texttexttexttexttexttexttext
      - name: print more 
        run: echo ${{ env.secret }}
