name: deployment
on: 
  push:
    branches:
      - 123qwe
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get repository code
        uses: actions/checkout@v3
      - name: use the cache
        uses: actions/cache@v3
        with: 
          path: ~/.npm
          key: cache-for-project${{ hashFiles('**/package-lock.json') }}
      - name: Install deps
        run: npm install
      - name: Test app
        run: npm run test
      - name: use lint 
        run: npm run lint  
  build:
    needs: deploy
    continue-on-error: true
    strategy:
      matrix:
        os: [ubuntu-latest, windows_latest]
        note-ver: [14, 16] 
    runs-on: ${{ matrix.os }}
    steps:
      - name: get code
        uses: actions/checkout@v3
      - name: Install NodeJs
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.note-ver }} 
      - name: use the cache
        uses: actions/cache@v3
        with: 
          path: ~/.npm
          key: cache-for-project${{ hashFiles('**/package-lock.json') }}
      - name: install deps
        run: npm ci
      - name: make a build
        run: npm run build