name: Test
on: 
  push:
    branches:
      - name: 123qwe
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get repository code
        uses: actions/checkout@v3
      - name: Install deps
        run: npm install
      - name: Test app
        run: npm run test
      - name: use lint 
        run: npm run lint  